@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
    font-family: "Poppins", sans-serif;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}

#summary {
    margin-top: 20px;
}

#summarize {
    border-radius: 10px;
    padding: 5px;
    font-family: "Poppins", sans-serif;
}

#summarize:hover {
    background-color: grey;
}